body { 
    width: 480px;
    margin: auto;
  }

* {
    box-sizing: border-box;
  }

div {
    float: left;
    border: 1px solid black;
    text-align: center;
    
}

#a {
    width: 480px;
    height: 75px;
}

#a {
    width: 480px;
    height: 75px;
}

#b {
    width: 480px;
    height: 150px;
}

#c {
    width: 480px;
    height: 125px;
}

#d {
    width: 480px;
    height: 125px;
}

#e {
    width: 240px;
    height: 250px;
}

#f {
    width: 240px;
    height: 250px;
}

#g {
    width: 240px;
    height: 250px;
}

#h {
    width: 240px;
    height: 250px;
}

#i {
    width: 480px;
    height: 80px;
}

    

@media(min-width: 768px){
    body {
        width: 768px;
        margin: auto;
    }
}
