:root {
    --a-color: aqua;
    --b-color: pink;
    --c-color: red;
    --d-color: orange;
    --e-color: green;
    --f-color: silver;
    --g-color: yellow;
    --h-color: tan;
    --i-color: salmon;
}

div {
    border: 1px solid black;
    text-align: center;
}

#a {
    background-color: var(--a-color);
}
#b {
    background-color: var(--b-color); 
}
#c {
    background-color: var(--c-color); 
}
#d {
    background-color: var(--d-color);
}
#e {
    background-color: var(--e-color); 
}
#f {
    background-color: var(--f-color); 
}
#g {
    background-color: var(--g-color);
}
#h {
    background-color: var(--h-color); 
}
#i {
    background-color: var(--i-color); 
}

/* Tablet */
@media(min-width: 600px){
    #a {
        background-color: var(--a-color);
    }
    #b {
        background-color: var(--b-color); 
    }
    #c {
        background-color: var(--c-color); 
    }
    #d {
        background-color: var(--d-color);
    }
    #e {
        background-color: var(--e-color); 
    }
    #f {
        background-color: var(--f-color); 
    }
    #g {
        background-color: var(--g-color);
    }
    #h {
        background-color: var(--h-color); 
    }
    #i {
        background-color: var(--i-color); 
    }
}

/* Desktop */
@media(min-width: 768px){
    #a {
        background-color: var(--a-color);
    }
    #b {
        background-color: var(--b-color); 
    }
    #c {
        background-color: var(--c-color); 
    }
    #d {
        background-color: var(--d-color);
    }
    #e {
        background-color: var(--e-color); 
    }
    #f {
        background-color: var(--f-color); 
    }
    #g {
        background-color: var(--g-color);
    }
    #h {
        background-color: var(--h-color); 
    }
    #i {
        background-color: var(--i-color); 
    }
}